In [1]:
import pandas as pd
from datetime import datetime

In [2]:
ars = pd.read_csv("../data/1429_1.csv" , low_memory=False)
ars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    34660 non-null  object
 1   name                  27900 non-null  object
 2   asins                 34658 non-null  object
 3   brand                 34660 non-null  object
 4   categories            34660 non-null  object
 5   keys                  34660 non-null  object
 6   manufacturer          34660 non-null  object
 7   reviews.date          34621 non-null  object
 8   reviews.dateAdded     24039 non-null  object
 9   reviews.dateSeen      34660 non-null  object
 10  reviews.didPurchase   1 non-null      object
 11  reviews.doRecommend   34066 non-null  object
 12  reviews.id            1 non-null      float64
 13  reviews.numHelpful    34131 non-null  float64
 14  reviews.rating        34627 non-null  float64
 15  reviews.sourceURLs    34660 non-null  object
 16  reviews.text          34659 non-null  object
 17  reviews.title         34655 non-null  object
 18  reviews.userCity      0 non-null      float64
 19  reviews.userProvince  0 non-null      float64
 20  reviews.username      34658 non-null  object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [3]:
ars.nunique()

id                         42
name                       48
asins                      41
brand                       6
categories                 41
keys                       42
manufacturer                2
reviews.date             1078
reviews.dateAdded        1941
reviews.dateSeen         3911
reviews.didPurchase         1
reviews.doRecommend         2
reviews.id                  1
reviews.numHelpful         97
reviews.rating              5
reviews.sourceURLs      11929
reviews.text            34659
reviews.title           19767
reviews.userCity            0
reviews.userProvince        0
reviews.username        26789
dtype: int64

In [4]:
ars.columns = [c.replace("reviews.","") for c in list(ars.columns)]
ars.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'date', 'dateAdded', 'dateSeen', 'didPurchase', 'doRecommend', 'id',
       'numHelpful', 'rating', 'sourceURLs', 'text', 'title', 'userCity',
       'userProvince', 'username'],
      dtype='object')

In [5]:
ars = ars [[ 'name', 'date', 'rating', 'text', 'title', 'doRecommend', 'username']]
ars.rename(columns={"name"        : "Product_name" ,
                    "date"        : "date_dirty",
                    "rating"      : "rating" ,
                    "text"        : "rating_text",
                    "title"       : "rating_title",
                    "doRecommend" : "recommended" ,
                    "username"    : "username"
                   } , inplace=True);

In [6]:
ars.Product_name = ars.Product_name.str.replace(",","")
ars.Product_name = ars.Product_name.str.replace('"','')
ars.Product_name = ars.Product_name.str.replace("'","´")
ars.Product_name = ars.Product_name.str.replace("\r","")
ars.Product_name = ars.Product_name.str.strip()

ars.rating_text  = ars.rating_text.str.replace(",","")
ars.rating_text  = ars.rating_text.str.replace('"','')
ars.rating_text  = ars.rating_text.str.replace("'","´")

ars.rating_title = ars.rating_title.str.replace(",","")
ars.rating_title = ars.rating_title.str.replace('"','')
ars.rating_title = ars.rating_title.str.replace("'","´")

In [7]:
ars.isnull().sum()

Product_name    6760
date_dirty        39
rating            33
rating_text        1
rating_title       5
recommended      594
username           2
dtype: int64

In [8]:
ars = ars.dropna(how='any')

In [10]:
ars.Product_name = ars.Product_name.apply(lambda x: str(x).split("\n",1)[0])

In [12]:
ars["date"]  = ars.date_dirty.apply(lambda x: datetime.fromisoformat(x[:10]));
ars.drop("date_dirty",axis='columns',inplace=True);

ars["year"]  = pd.DatetimeIndex(ars.date).year;
ars["month"] = pd.DatetimeIndex(ars.date).month;
ars["day"]   = pd.DatetimeIndex(ars.date).day;

ars.recommended = ars.recommended.astype('bool')

ars.head()

,Product_name,rating,rating_text,rating_title,recommended,username,date,year,month,day
0,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0,This product so far has not disappointed. My c...,Kindle,True,Adapter,2017-01-13,2017,1,13
1,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0,great for beginner or experienced person. Boug...,very fast,True,truman,2017-01-13,2017,1,13
2,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,True,DaveZ,2017-01-13,2017,1,13
3,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,4.0,I´ve had my Fire HD 8 two weeks now and I love...,Good!!!,True,Shacks,2017-01-13,2017,1,13
4,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,True,explore42,2017-01-12,2017,1,12

In [13]:
ars.shape

(27406, 10)

In [14]:
ars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27406 entries, 0 to 27899
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_name  27406 non-null  object
 1   rating        27406 non-null  float64
 2   rating_text   27406 non-null  object
 3   rating_title  27406 non-null  object
 4   recommended   27406 non-null  bool
 5   username      27406 non-null  object
 6   date          27406 non-null  datetime64[ns]
 7   year          27406 non-null  int64
 8   month         27406 non-null  int64
 9   day           27406 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 2.1+ MB

In [15]:
ars.nunique()

Product_name       37
rating              5
rating_text     27405
rating_title    15659
recommended         2
username        21478
date              919
year                4
month              12
day                31
dtype: int64

In [16]:
ars.to_csv("../data/amazon_reviews_clean.csv",index=False,encoding='utf-8')