## Importamos librerías

In [1]:
import pandas as pd
import sqlalchemy as alch
import os

## Tokens y conexión a BD SQL

In [14]:
from dotenv import load_dotenv
load_dotenv()
password = os.getenv("sql")

In [15]:
dbName="amazon_rating"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

Comprobamos la conexion y si podemos leer las tablas de la BBDD

In [11]:
list(engine.execute(f"SELECT * FROM amazon_rating.user_names"))

[(1, 'dadasd'), (2, 'dadsfadsa')]

Intentamos subir un usuario:

In [18]:
def insert_user(string):
    """
    Habría que comprobar si no existe ya el usuario
    if check("ironhacker", string):
        return "el ironhacker existe"
    else:
    """
    engine.execute(f"INSERT INTO user_names (username) VALUES ('{string}');")

In [19]:
insert_user("soyungalgo")

## Cargamos el CSV ya limpio

In [7]:
ars = pd.read_csv("../data/amazon_reviews_clean.csv")

In [8]:
ars.head(1)

,Product_name,rating,rating_text,rating_title,recommended,username,date,year,month,day
0,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0,This product so far has not disappointed. My c...,Kindle,True,Adapter,2017-01-13,2017,1,13